* {
  outline: none;
}

body {
  font: 300 14px "Helvetica Neue", Helvetica, Arial;
}
a { cursor: pointer; cursor: hand; }
#header {
  background: white;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 50px;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
  overflow: hidden;
}
#header .controls {
  float: right;
}
/*.play-button { display: none; }*/
.play-button.disabled { background-color: #aaa; }
.requirebin-badge { width: 100px; height: 100px; background: url(../badge.png) no-repeat 0 0; background-size: 100px 100px; z-index: 1000; }
.col-xs-3 { width: 38%; padding-top: 10px; }
.run-btn { line-height: 34px; }
.run-btn i { position: relative; top: 1.5px; right: 2px; }

.cacheState { float: right; line-height: 52px; margin-right: 10px; font-size: 11px; }

.actionsMenu, .actionsMenu .dk_options { width: 190px; }

.actionsMenu { float: right; margin: 5px 10px; }
.actionsButtons { margin: 5px 0; float: right; }
.actionsButtons i { position: relative; top: 1px; margin-right: 5px; }
.actionsButtons .fui-new-16 { margin-right: 7px; }
.actionsButtons .fui-eye-16 { margin-right: 5px; }
.actionsButtons a.btn-primary { padding: 9px 14px 10px 14px; }

.clear-float {
  overflow: hidden;
}

.editor-picker {
  border-right: 1px solid #eee;
  float: right;
  margin: 5px 0px 5px 10px;
}
.editor-picker a {
  float: left;
  padding: 10px;
}

.large {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
.left {
  position: absolute;
  top: 50px;
  left: 0;
  right: 50%;
  bottom: 45px;
}
.left.log {
  bottom: 200px;
}
.right {
  position: absolute;
  top: 50px;
  left: 50%;
  right: 0;
  bottom: 45px;
}
.right.log {
  bottom: 200px;
}
.hidden { visibility: hidden; }

.tagsinput { height: auto; }
.tag a { color: white; text-decoration: none; }

.require-bin-editor, #play { z-index: 1; border-top: 1px solid #eee; }

.require-bin-editor {
  border-right: 1px solid #eee;
}

.require-bin-editor .CodeMirror {

  height: 100%;
  font-size: 12px;
  background-color: rgba(255,255,255,0.75);
  -webkit-transform: translateZ(0); /* Workaround for OSX antialias issue */

}

.require-bin-editor .CodeMirror-scroll {

  height: 100%;

}

.require-bin-editor .CodeMirror div.CodeMirror-selected {

  background: rgba(0,0,0,0.1);

}

.require-bin-editor .CodeMirror-focused div.CodeMirror-selected {

  background: rgba(0,0,255,0.1);

}

body { margin: 0; padding: 0; }

html, body { height: 100%; }

/* mysterious pre */
body > pre { display: none }

/* codemirror */
.CodeMirror { font-size:12px; }

.tagline {
  margin-top: 9px;
  float: left;
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0;
}

.view-icon {
  background: url(../img/view.png);
  width: 28px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 5px;
}

.ace_info {
  background-image: none;
}

.requirebin {
  width: 150px;
}

.tagline > a {
  flex: 1;
}

.toolbar {
  display: flex;
  align-items: center;
  position: absolute;
  height: 50px;
  width: 100%;
  min-width: 1000px;
}

.require-bin-editor .CodeMirror .errorLine { background: rgba(255,0,0,0.25);}

#play { overflow: hidden; }
#shareTextarea { font-size: 12px; }
#shareInstructions p { margin: 5px 0; }

#preview {
  margin-left: 10px;
}

#login {
  margin: 10px
}

#preview .btn,#login .btn {
  padding: 10px 14px;
}

.btn.btn-primary.primary, .btn.btn-default.primary {
  background-color: #78AAD6;
}

#run-btn.disabled {
  background-color: #aaa;
}

#edit-bundle {
  position: absolute
}

#console-container {
  position: absolute;
  top: inherit;
  bottom: 0;
  right: 0;
  left: 0;
  height: 200px;
  background-color: #f5f5f5;
  z-index: 999;
  overflow: hidden;
  transition: height .3s ease-in-out;
}

#console-container.minimize {
  height:45px
}

#console-container #console-toolbar {
  background-color: rgb(109, 110, 113);
  display: flex;
  height: 45px;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  padding: 0 15px;
  cursor: pointer;
}

#counter-container {
  display: none;
  margin: 0 5px;
}

#counter-container.show {
  display: inline-block;
}

#counter-container * {
  display: inline-block;
}

#console-container #console-toolbar #console-header {
  flex: 4;
  margin: 0;
  color: #fff;
}

#console-container #console-toolbar #console-button {
  flex: 1;
}

#console-container #console {
  padding: 15px;
  overflow: hidden;
  overflow-y: scroll;
  height: 60%;
}

#howto, #share, .packagejson { padding: 20px; position: absolute; right: 0; background: white; width: 40%; overflow: auto; border-left: 1px solid #eee; border-bottom: 1px solid #eee; }
.packagejson { clear: both; }
.packagejson .tagsinput .tag:hover { padding: 6px 13px 6px 19px; }
.packagejson h6 { margin-top: 0; }
#howto ul { list-style-type: none; }
#howto p { margin-bottom: 10px }
.logo {
  padding: 0 0 0 24px;
  margin-top: 5px;
  background-size: 40px 200px;
  width: 200px;
  display: flex;
  align-items: center;
}
.logo > img {
  width: 35px;
  margin-right: 5px;
}
.attribution { margin: 20px 0 0 0; float: left; font-size: 12px; }
#controls { width: 50%; top: 0; right: 0; left: initial;}
#container {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -2px 0 0 -2px;
  width: 4px;
  height: 4px;
  background-color: #d00;
  opacity: 0.5;
}

#stats { bottom: 0px; right: 0px; }
.errorMessage { text-align: center; width: 200px; margin: 20px auto; }

@-webkit-keyframes rotate{
  from{
    -webkit-transform:rotate(0deg) translate(-9px) rotate(0deg);
  }
  to{
    -webkit-transform:rotate(360deg) translate(-9px) rotate(-360deg);
  }
}

.spinning {
  -webkit-animation:rotate infinite linear;
  -webkit-animation-duration:.5s;
  -webkit-animation-delay:.1s;
}

.alert {
  z-index: 100;
  white-space: pre;
  width:435px;
  position:absolute;
  top:5px;
  left:50%;
  margin-left:-200px;
}

/* spinkit */

.spinner {
  float: right;
  margin: 10px;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  } 20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@media only screen and (max-width: 1255px) {
  .tagline {
    display: none;
  }
}

/* shameless copy from http://dimsemenov.com/plugins/magnific-popup/documentation.html#image-type */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.white-popup pre {
  display: inline-block;
  margin: 5px 10px
}

.modal-body-list {
  max-height: 400px;
  overflow-y: auto;
}

#modal-body {
  margin: 0;
}

.form-container {
  padding: 20px;
  display: flex;
  align-items: center;
}

.form-container > input {
  margin: 0;
  margin-left: 10px;
}
